############################
# Visual Studio / IDE files
############################
.vs/
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

############################
# Build outputs
############################
*.exe
*.app
